<!doctype html>
<head>
    <title>Books</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/books.css') }}"/>
    <script src="{{ url_for('static', filename='js/books.js') }}"></script>
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,200,100,500,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="header">
        Books
    </div>

    <div class="books">
        <div class="genre"> FICTION </div>
        {% for book in fiction_books %}
            <div class="book">
                <img src="{{ book.image }}" width="120"/>
                <a href="{{ book.amazon_url }}" target="_blank"> {{ book.name }}</a>
                <div class="pages"> {{ book.pages }} pages </div>
                <div class="popup" style="display: none"> {{ book.description }} </div>
            </div>
        {% endfor %}
    </div>

    <div class="books">
        <div class="genre"> NONFICTION </div>
        {% for book in nonfiction_books %}
            <div class="book">
                <img src="{{ book.image }}" width="120"/>
                <a href="{{ book.amazon_url }}" target="_blank"> {{ book.name }}</a>
                <div class="pages"> {{ book.pages }} pages </div>
            </div>
        {% endfor %}
    </div>

    <div class="wpmSection">
        <button onclick="start()">Start</button>
        <div id="timer"></div>

        <div class="text blur">
            <!-- 343 words -->
            <p>Emma Woodhouse, handsome, clever, and rich, with a comfortable home andhappy disposition, seemed to unite some of the best blessings ofexistence; and had lived nearly twenty-one years in the world with verylittle to distress or vex her.</p>

            <p>She was the youngest of the two daughters of a most affectionate,indulgent father; and had, in consequence of her sister's marriage,been mistress of his house from a very early period. Her mother haddied too long ago for her to have more than an indistinct remembranceof her caresses; and her place had been supplied by an excellent womanas governess, who had fallen little short of a mother in affection.</p>

            <p>Sixteen years had Miss Taylor been in Mr. Woodhouse's family, less as agoverness than a friend, very fond of both daughters, but particularlyof Emma. Between _them_ it was more the intimacy of sisters. Evenbefore Miss Taylor had ceased to hold the nominal office of governess,the mildness of her temper had hardly allowed her to impose anyrestraint; and the shadow of authority being now long passed away, theyhad been living together as friend and friend very mutually attached,and Emma doing just what she liked; highly esteeming Miss Taylor'sjudgment, but directed chiefly by her own.</p>

            <p>The real evils, indeed, of Emma's situation were the power of havingrather too much her own way, and a disposition to think a little toowell of herself; these were the disadvantages which threatened alloy toher many enjoyments. The danger, however, was at present sounperceived, that they did not by any means rank as misfortunes withher.</p>

            <p>Sorrow came--a gentle sorrow--but not at all in the shape of anydisagreeable consciousness.--Miss Taylor married. It was Miss Taylor'sloss which first brought grief. It was on the wedding-day of thisbeloved friend that Emma first sat in mournful thought of anycontinuance. The wedding over, and the bride-people gone, her fatherand herself were left to dine together, with no prospect of a third tocheer a long evening. Her father composed himself to sleep afterdinner, as usual, and she had then only to sit and think of what shehad lost.</p>
        </div>
    </div>
</body>
