<!doctype html>
<head>
    <title>Books</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/books_page.css') }}"/>
    <script src="{{ url_for('static', filename='js/books_page.js') }}"></script>
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,200,100,500,600,700,800' rel='stylesheet' type='text/css'>
    <script>
            var books = {{ books|tojson }}
    </script>
</head>
<body onload="setup();">
    <div class="header">
        {{ genre }}
    </div>
    <div class="content">
        <div class="books">
            {% for book in books %}
                <div class="book">
                    <img src="{{ book.image }}" width="120"/>
                    <div class="info">
                        <a href="{{ book.amazon_url }}" target="_blank"> {{ book.name }}</a>
                        <div class="pages"> {{ book.pages }} pages </div>
                        <div class="timeToRead" id="timeToRead{{ book.isbn|string }}"> </div>
                        </br>
                        <div class="summary"> {{ book.summary }} </div>
                        <div class="popup" style="display: none"> {{ book.description }} </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="detailedView">
        </div>
    </div>
</body>

